<div class="container d-flex align-items-center justify-content-center" style="height: 250px;" *ngIf="!studentList">
    <button class="btn btn-primary" type="button" disabled>
        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
        <span role="status">Loading...</span>
    </button>
</div>

<table class="table" *ngIf="studentList">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Contact Number</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let student of studentList; let i = index;">
            <th scope="row">{{student.id}}</th>
            <td>{{student.firstName}}</td>
            <td>{{student.lastName}}</td>
            <td>{{student.contactNumber}}</td>
        </tr>
    </tbody>
</table>