<div class="container" style="width: fit-content;">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
                <i class="bi bi-house-door-fill"></i>
                Home
            </a>
        </li>

        <li>
            <a routerLink="/registration" class="nav-link link-body-emphasis">
                <i class="bi bi-box-arrow-in-right"></i>
                Student Registration
            </a>
        </li>

        <li>
            <a routerLink="/student-list" class="nav-link link-body-emphasis">
                <i class="bi bi-table"></i>
                View Students
            </a>
        </li>
    </ul>
</div>