<div class="container  shadow p-4" style="width: fit-content;">
    <ul class="nav nav-pills flex-column mb-auto">
        <li (click)="setSelectedMenu('home')">
            <a [ngClass]="{'active': selectedMenu == 'home'}" [class.link-body-emphasis]="selectedMenu != 'home'"
                routerLink="" class="nav-link link-body-emphasis" aria-current="page">
                <i class="bi bi-house-door-fill"></i>
                &nbsp;&nbsp;
                Home
            </a>
        </li>

        <li (click)="setSelectedMenu('register')">
            <a [ngClass]="{'active': selectedMenu == 'register'}"
                [class.link-body-emphasis]="selectedMenu != 'register'" routerLink="registration"
                class="nav-link link-body-emphasis">
                <i class="bi bi-box-arrow-in-right"></i>
                &nbsp;&nbsp;
                Student Registration
            </a>
        </li>

        <li (click)="setSelectedMenu('view')">
            <a [ngClass]="{'active': selectedMenu == 'view'}" [class.link-body-emphasis]="selectedMenu != 'view'"
                routerLink="student-list" class="nav-link link-body-emphasis">
                <i class="bi bi-table"></i>
                &nbsp;&nbsp;
                View Students
            </a>
        </li>
    </ul>
</div>