<form>
    <div class="mb-3">
        <label for="first-name" class="form-label">First Name</label>
        <input type="text" class="form-control" id="first-name" [(ngModel)]="student.firstName" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="mb-3">
        <label for="last-name" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="last-name" [(ngModel)]="student.lastName" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="mb-3">
        <label for="contact-number" class="form-label">Contact Number</label>
        <input type="number" class="form-control" id="contact-number" [(ngModel)]="student.contactNumber" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="mb-3">
        <button type="button" (click)="createStudent()" class="btn btn-primary">Proceed</button>
    </div>
</form>